<main>
  <div>
    <nui-sheet-group id="demo-content" direction="column" [isResizable]="true">
      <nui-sheet direction="column" [fitContent]="true">
        <!-- <nui-card-group>
          <nui-card direction="row"> -->
        <nui-panel
          id="nui-demo-resizable-panel"
          panelMode="collapsible"
          isResizable="true"
          heading="Header"
          headerPadding="false"
          paneSize="25%"
          paneMaxSize="440px"
          displacePrimaryContent="false"
        >
          <div nuiPanelEmbeddedBody>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                quam nibh, tincidunt non massa quis, efficitur porttitor lacus.
                In quis tellus euismod, tincidunt libero quis, suscipit nunc.
                Nulla ac mattis tortor, quis iaculis sapien.
              </p>
            </div>
          </div>
          <div>
            <div class="nui-table__container" id="nui-demo-basic-table">
              <div class="app-table-with-virtual-scroll__container">
                <cdk-virtual-scroll-viewport
                  [style.width.%]="100"
                  class="app-table-with-virtual-scroll-scrolling-container"
                  tableStickyHeader
                  #viewportRef
                  [itemSize]="rowHeight"
                >
                  <table
                    nui-table
                    [dataSource]="items | sliceRange: viewportRef.getRenderedRange()"
                    [sortable]="true"
                    [sortedColumn]="sortedColumn"
                    (sortOrderChanged)="sortData($event)"
                  >
                    <ng-container nuiColumnDef="name">
                      <th nui-header-cell [style.width.%]="30" *nuiHeaderCellDef i18n>Name</th>
                      <td nui-cell *nuiCellDef="let element">
                        {{element.name}}
                      </td>
                    </ng-container>

                    <ng-container nuiColumnDef="location">
                      <th nui-header-cell [style.width.%]="30" *nuiHeaderCellDef i18n>Location</th>
                      <td nui-cell *nuiCellDef="let element">
                        {{element.location}}
                      </td>
                    </ng-container>

                    <ng-container nuiColumnDef="status">
                      <th nui-header-cell *nuiHeaderCellDef i18n>Status</th>
                      <td nui-cell *nuiCellDef="let element">
                        {{element.status}}
                      </td>
                    </ng-container>

                    <ng-container nuiColumnDef="position">
                      <th nui-header-cell *nuiHeaderCellDef i18n>Position</th>
                      <td nui-cell *nuiCellDef="let element">
                        {{element.position}}
                      </td>
                    </ng-container>

                    <!-- <ng-container nuiColumnDef="description">
                      <th nui-header-cell *nuiHeaderCellDef i18n>Description</th>
                      <td nui-cell *nuiCellDef="let element">
                        {{element.description}}
                      </td>
                    </ng-container> -->
                    <app-table-cell ></app-table-cell>

                    <tr
                      nui-header-row
                      *nuiHeaderRowDef="displayedColumns; sticky: true"
                    ></tr>
                    <ng-template
                      nuiRowDef
                      cdkVirtualFor
                      let-context
                      [nuiRowDefColumns]="displayedColumns"
                      [cdkVirtualForOf]="items"
                    >
                      <tr nui-row></tr>
                    </ng-template>
                  </table>
                </cdk-virtual-scroll-viewport>

                <footer class="app-table-with-virtual-scroll-scrolling-footer">
                  <div *ngIf="isBusy; else defaultText">
                    <nui-progress
                      [show]="true"
                      [compactMode]="true"
                    ></nui-progress>
                    <div
                      class="d-flex justify-content-center align-items-center"
                    >
                      Loading next {{pageSize}} items...
                    </div>
                  </div>
                  <ng-template #defaultText>
                    <div
                      class="d-flex justify-content-center align-items-center"
                    >
                      <div class="p-1 d-flex">
                        <div class="d-flex pt-3 pb-3" i18n>
                          Showing {{items.length}} of {{totalItems}}
                        </div>
                        <div class="d-flex pt-3 pb-3">
                          <ng-container
                            i18n
                            *ngIf="items.length !== totalItems; else endOfData"
                            >, scroll down for more.</ng-container
                          >
                          <ng-template #endOfData
                            ><strong>. All items loaded.</strong></ng-template
                          >
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </footer>
              </div>

              <!-- <cdk-virtual-scroll-viewport #viewportRef [itemSize]="rowHeight"> -->
              <!-- <table nui-table [dataSource]="dataSource">
                <ng-container nuiColumnDef="position">
                  <th nui-header-cell *nuiHeaderCellDef>No.</th>
                  <td nui-cell *nuiCellDef="let element">
                    {{element.position}}
                  </td>
                </ng-container>

                <ng-container nuiColumnDef="name">
                  <th nui-header-cell *nuiHeaderCellDef>Name</th>
                  <td nui-cell *nuiCellDef="let element">
                    {{element.name}}
                  </td>
                </ng-container>

                <ng-container nuiColumnDef="features">
                  <th nui-header-cell *nuiHeaderCellDef>Features</th>
                  <td nui-cell *nuiCellDef="let element">
                    <div class="d-flex align-items-center">
                      <nui-icon
                        *ngFor="let icon of element.features"
                        [icon]="icon"
                        class="icon-margin"
                      >
                      </nui-icon>
                    </div>
                  </td>
                </ng-container>

                <ng-container nuiColumnDef="asset">
                  <th nui-header-cell *nuiHeaderCellDef>Asset Class</th>
                  <td nui-cell *nuiCellDef="let element">
                    {{element.asset}}
                  </td>
                </ng-container>

                <ng-container nuiColumnDef="location">
                  <th nui-header-cell *nuiHeaderCellDef>Location</th>
                  <td nui-cell *nuiCellDef="let element">
                    {{element.location}}
                  </td>
                </ng-container>

                <ng-container nuiColumnDef="status">
                  <th nui-header-cell *nuiHeaderCellDef>Status</th>
                  <td nui-cell *nuiCellDef="let element">
                    {{element.status}}
                  </td>
                </ng-container>

                <ng-container nuiColumnDef="ou" type="icon">
                  <th nui-header-cell *nuiHeaderCellDef></th>
                  <td nui-cell *nuiCellDef="let element">
                    {{element.outages}}
                  </td>
                </ng-container>

                <ng-container nuiColumnDef="checks" type="icon">
                  <th nui-header-cell *nuiHeaderCellDef>Checks</th>
                  <td nui-cell *nuiCellDef="let element">
                    <div class="d-flex align-items-center">
                      <ng-container *ngFor="let check of element.checks">
                        <nui-icon [icon]="check.icon"></nui-icon>
                        <div class="ml-2">{{check.num}}</div>
                      </ng-container>
                    </div>
                  </td>
                </ng-container>

                <tr nui-header-row *nuiHeaderRowDef="displayedColumns;"></tr>
                <tr
                  nui-row
                  *nuiRowDef="let row; columns: displayedColumns"
                ></tr> -->

              <!-- <tr
                    nui-header-row
                    *nuiHeaderRowDef="displayedColumns; sticky: true"
                  ></tr> -->
              <!-- <ng-template
                    nuiRowDef
                    cdkVirtualFor
                    let-context
                    [nuiRowDefColumns]="displayedColumns"
                    [cdkVirtualForOf]="dataSource"
                  >
                    <tr nui-row [rowObject]="context"></tr>
                  </ng-template> -->
              <!-- </table> -->
              <!-- </cdk-virtual-scroll-viewport> -->
            </div>
          </div>
        </nui-panel>
        <!-- </nui-card>
        </nui-card-group> -->
      </nui-sheet>
    </nui-sheet-group>
  </div>
</main>
